@media only screen and (orientation: landscape) { 

    /* Preload images */
    body:before {
        display: none;
        content: url('/img/sample_background.jpg')
    }
    
    html, body {
        width: 100%;
        height: 100%;
    } 
    
    body {
        overflow-y: hidden ! important;
        overflow-x: hidden ! important;
/*        background-image: url('/img/sample_background.jpg');*/
/*        background-repeat: no-repeat;*/
        margin: 0;
        padding: 0;
        background-size: 100% 100%;
    }
    
    :-webkit-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}
	:-moz-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}


    #pause {
        position: absolute;
        right: 0;
        top: 5%;
        width: 12%;
    }

    .container {
      background: blue;
      /* inline-box hack to eliminate white space */
      font-size: 0;
      text-align: center;
      height: 100%;
      width: 100%;
    }

    .circle {
      display: inline-block;
      min-width: 15%;
      /* to allow placement of numbers on top of circles instead of below them */
      white-space: nowrap;
      padding-top: 5%;
      padding-right: 5%;
    }

    .circle:before {
      border-radius: 50%;
      /* = 15%, almost gives us viewport width unit (15vw) */
      width: 100%;
      padding-bottom: 100%;
      /* this way we should have 1px gap between circles */
      margin: 15% .5%;
      background: white;
      content: '';
      display: inline-block;
      /* circle to the middle, so that... [1] */
      vertical-align: middle;

      /* to use viewport based units we can safely override the old units in this way */
      padding-bottom: 0vw;
      width: 15vw;
      height: 15vw;
    }

    .circle p {
    /*  display:block;*/
      font-size: 10pt;
      color: white;
      /* -.5em = white space between p elements... */
    /*  margin: 0 100% 0 -100%;*/
      padding: 0;
      /* ... text can be middle too! [1] */
      vertical-align: middle;
    /*  white-space: normal;*/
      width: 100%;
      /* for some reason that I can't figure out right now...
        viewport units eliminate the white space issue */
      margin: 0 0 0 0;
    /*  width: 15vw;*/
    }
}
